---
import Section from "../Section.astro";

import { basics } from "@cv";
const { summary } = basics;
---

<Section title="Présentation">
	<p class="justify-normal">
		<!--{summary}-->
		<Fragment set:html={summary}/>
	</p>
</Section>
