---
import Section from "../Section.astro";
import { skills } from "@cv";
import { techskills } from "@cv";
import { softskills } from "@cv";

import Sas from "@/icons/Sas.astro";
import Mssql from "@/icons/Mssql.astro";
import Python from "@/icons/Python.astro";
import Airflow from "@/icons/Airflow.astro";
import Gitea from "@/icons/Gitea.astro";
import Php from "@/icons/Php.astro";
import PentahoBi from "@/icons/Pentaho-Bi.astro";
import Sql from "@/icons/Sql.astro";
import DataWarehouse from "@/icons/DataWarehouse.astro";
import Etl from "@/icons/Etl.astro";
import Pdi from "@/icons/Pdi.astro";
import Hop from "@/icons/Hop.astro";
import Bi from "@/icons/Bi.astro";
import Reports from "../../icons/Reports.astro";
import Dashboards from "../../icons/Dashboards.astro";
import Docker from "@/icons/Docker.astro";
import Api from "@/icons/Api.astro";
import Autonomie from "@/icons/Autonomie.astro";
import Initiative from "@/icons/Initiative.astro";
import Confiance from "@/icons/Confiance.astro";
import Team from "@/icons/Team.astro";
import Analyse from "@/icons/Analyse.astro";
import Priorisation from "@/icons/Priorisation.astro";
import Cicd from "@/icons/Cicd.astro";
import n8n from "@/icons/n8n.astro";
import Dbt from "@/icons/Dbt.astro";

const SKILLS_ICONS: Record<string, any> = {
	Sas,
	Mssql,
	Python,
	Airflow,
	Gitea,
	Php,
	PentahoBi,
	Sql,
	DataWarehouse,
	Etl,
	Pdi,
	Hop,
	Bi,
	Reports,
	Dashboards,
	Docker,
	Api,
	Autonomie,
	Confiance,
	Initiative,
	Team,
	Analyse,
	Priorisation,
	Cicd,
  n8n,
  Dbt,
};
---

<Section className={Astro.props.className} title="Compétences">
	<div class="flex items-center space-x-3">
		<div class="w-3 h-3 bg-skin-muted rounded-full ring print:hidden ring-skin-fill"></div>
		<h1 class="font-semibold ring-skin-fill">Métier</h1>
		<hr class="w-36 h-0.5 bg-gray-400 border-0 rounded dark:bg-gray-700">
	</div>
	<ul class="[&>li>svg]:text-skin-hue inline-flex flex-wrap gap-6 [&>li>svg]:size-5 [&>li]:text-sm">
		{
			skills.map(({ name }) => {
				const iconName = name === "Next.js" ? "Next" : name;
				const Icon = SKILLS_ICONS[iconName];
				if (name=='DataWarehouse'){
					name = 'Data-Warehouse';
				}
				const upperame = name.toUpperCase();

				return (
					<li class="border-skin-hue/20s bg-skin-button-accent/20s borders border-solids flex items-center gap-1 rounded-md px-0.1 py-0.1 text-xs text-skin-muted print:border-none print:bg-transparent print:p-0 print:text-zinc-800">
						{Icon && <Icon />} <span>{upperame}</span>
					</li>
				);
			})
		}
	</ul>
	<div class="flex items-center space-x-3">
		<div class="w-3 h-3 bg-skin-muted rounded-full ring print:hidden ring-skin-fill"></div>
		<h1 class="font-semibold ring-skin-fill">Technique</h1>
		<hr class="w-36 h-0.5 bg-gray-400 border-0 rounded dark:bg-gray-700">
	</div>
	<ul class="[&>li>svg]:text-skin-hue inline-flex flex-wrap gap-6 [&>li>svg]:size-5 [&>li]:text-sm">
		{
			techskills.map(({ name }) => {
				const iconName = name === "Next.js" ? "Next" : name;
				const Icon = SKILLS_ICONS[iconName];
				const upperame = name.toUpperCase();

				return (
					<li class="border-skin-hue/20s bg-skin-button-accent/20s borders border-solids flex items-center gap-1 rounded-md px-0.1 py-0.1 text-xs text-skin-muted print:border-none print:bg-transparent print:p-0 print:text-zinc-800">
						{Icon && <Icon />} <span>{upperame}</span>
					</li>
				);
			})
		}
	</ul>
	<div class="flex items-center space-x-3">
		<div class="w-3 h-3 bg-skin-muted rounded-full ring print:hidden ring-skin-fill"></div>
		<h1 class="font-semibold ring-skin-fill">Transverse</h1>
		<hr class="w-36 h-0.5 bg-gray-400 border-0 rounded dark:bg-gray-700">
	</div>
	<ul class="[&>li>svg]:text-skin-hue inline-flex flex-wrap gap-6 [&>li>svg]:size-5 [&>li]:text-sm">
		{
			softskills.map(({ name }) => {
				const iconName = name === "Next.js" ? "Next" : name;
				const Icon = SKILLS_ICONS[iconName];
				const upperame = name.toUpperCase();

				return (
					<li class="border-skin-hue/20s bg-skin-button-accent/20s borders border-solids flex items-center gap-1 rounded-md px-0.1 py-0.1 text-xs text-skin-muted print:border-none print:bg-transparent print:p-0 print:text-zinc-800">
						{Icon && <Icon />} <span>{upperame}</span>
					</li>
				);
			})
		}
	</ul>
</Section>